@media screen and (max-width:1024px) {


    /* About Section  */


}

@media screen and (max-width:991px) {

    /* custom Classes  */
    .text-content {
        width: 100%;
    }


    /* Navbar brand */
    .navigation-wrap .navbar-brand img {
        height: 3.18rem
    }

    .navigation-wrap {
        text-align: center;
        background-color: var(--white-color);
    }

    .navigation-wrap .nav-link {
        line-height: 1.8rem;
    }

    /* Banner Design  */
    .top-banner {
        padding: 9.3rem 0;
    }


}

@media screen and (max-width:767px) {

    /* custom classes  */
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
        line-height: 2rem;
    }

    /* Top Banner  */
    .top-banner {
        padding: 10.875rem 0 9.3rem;
    }

    /* Story Section  */
    .story-section {
        height: auto;
        padding: 3rem 0;
    }

    /* Corousel Design */
    .testimonial-section .carousel-item .carousel-caption p {
        padding: 11rem 3.1rem;
    }
    /* ==Newsletter Section== */
    .newsletter{
        width: 75%;
    }
    .newsletter .main-btn{
        width: 100%;
        margin-top: 1rem ;
    }
    /* ==Footer Section== */
    .footer .footer-link,
    .footer a i{
        padding: 0 0.7rem;
    }
}

@media screen and (max-width:330px) {

    /* Corousel Design */
    .testimonial-section .carousel-item {
        padding: 13rem 3.1rem;
    }
}